#im{
    max-height: 80%;
    max-height: 80%;
    text-align: center;
    
  }
#with{
  background-color:aliceblue;
}

#n{
  background-color:transparent;
}

ion-col {
  color: #fff !important;
  bottom: -10px !important;
}