/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/* Set variables for all modes */
ion-content.background{
    --background: url(./assets/img/espacio-abstracto-tarjeta-sol-sol.jpg) 0 0/100% 100% no-repeat;
}
ion-content.backfondent{
    --background: url(./assets/img/mm.png) 0 0/100% 100% no-repeat;
}

ion-item {
    --ion-item-background: transparent;
}

a {
    color: #fff;
    position: relative;
    text-decoration: none;
    letter-spacing: 0.5px;
    padding: 0 10px;
}

a::after {
    content: "";
    position: absolute;
    background-color: #ff3c78;
    height: 3px;
    width: 100%;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

a:hover{
    color: blue;
}

a:hover:after {
    width: 100%;
}

ion-label {
    color: #fff !important;
}

ion-card-title {
    color: #fff !important;
}

